APP_CONFIG__FILE_SERVICE_URL=http://localhost:8001
APP_CONFIG__RABBITMQ__URL=amqp://guest:guest@localhost:5672/
APP_CONFIG__KAFKA__BOOTSTRAP_SERVERS=["localhost:9092"]
APP_CONFIG__S3__ENDPOINT_URL=http://localhost:9000
APP_CONFIG__S3__ACCESS_KEY=minioadmin
APP_CONFIG__S3__SECRET_KEY=minioadmin
APP_CONFIG__S3__BUCKET_NAME=files
