APP_CONFIG__DB__USER=file
APP_CONFIG__DB__PASSWORD=file
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__NAME=file
APP_CONFIG__API__V1_PREFIX=/v1
APP_CONFIG__API__HOST=0.0.0.0
APP_CONFIG__API__PORT=8001
APP_CONFIG__API__RELOAD=false
APP_CONFIG__MIDDLEWARE__ALLOW_ORIGINS=[]
APP_CONFIG__MIDDLEWARE__ALLOW_METHODS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_HEADERS=["*"]
APP_CONFIG__MIDDLEWARE__ALLOW_CREDENTIALS=false
APP_CONFIG__KAFKA__BOOTSTRAP_SERVERS=["localhost:9092"]
APP_CONFIG__KAFKA__CLIENT_ID=file-service
APP_CONFIG__RABBITMQ_CONNECTION__USER=guest
APP_CONFIG__RABBITMQ_CONNECTION__PASSWORD=guest
APP_CONFIG__RABBITMQ_CONNECTION__HOST=localhost
APP_CONFIG__RABBITMQ_CONNECTION__PORT=5672
APP_CONFIG__RABBITMQ_CONNECTION__VHOST=/
APP_CONFIG__S3__ACCESS_KEY=minioadmin
APP_CONFIG__S3__SECRET_KEY=minioadmin
APP_CONFIG__S3__ENDPOINT_URL=http://localhost:9000
APP_CONFIG__S3__PUBLIC_ENDPOINT_URL=http://localhost:9000
APP_CONFIG__S3__BUCKET_NAME=files
APP_CONFIG__LOGGING__LEVEL=INFO
APP_CONFIG__REDIS__USER=default
APP_CONFIG__REDIS__PASSWORD=redis
APP_CONFIG__REDIS__HOST=localhost
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__DB=0
APP_CONFIG__REDIS__TTL_SECONDS=300
