APP_CONFIG__MONGODB__USER=analytics
APP_CONFIG__MONGODB__PASSWORD=analytics
APP_CONFIG__MONGODB__HOST=localhost
APP_CONFIG__MONGODB__PORT=27017
APP_CONFIG__MONGODB__NAME=analytics
APP_CONFIG__KAFKA__BOOTSTRAP_SERVERS=["localhost:9092"]
APP_CONFIG__KAFKA__GROUP_ID=analytics-service
